body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.material-icons {
    margin-top: -50px !important;
    /*not recommended*/
    padding-right: 15px !important;
    float: right;
    font-size: 3.4em;
    cursor: pointer;
}

.card-label {
    font-size: 1.5em;
    padding-left: 10px;
    padding-top: 5px;
}

.padding-left {
    padding-left: 10px;
}

.card {
    margin-top: 20px;
    width: 220px;
    height: 315px;
    border-radius: 2px 2px 0 0;
}

.card .card-image .card-title {
    color: black;
    font-weight: 400;
}

.item-desc {
    align-self: center;
}

.bold {
    font-weight: bold;
}

.gray {
    border-radius: 5px;
    border: solid 1px gray;
}

.container {
    width:100%
}

.cart {
    display: table;
    margin: 0 auto;
}

.cart-wrapper {
    margin: 0 auto;
    align-self: center;
    width : 350px;
    height: 200px;
}

hr {
    clear: both;
}

.float-left {
    float: left;
}

.cart-text {
    float: left;
    padding-left: 80px;
    height: 190px;
}

.cart-small-image {
    margin-top: 20px;
}